<!doctype html>
<html lang='en'>
    <head>
        <title><%= @title %></title>
        <meta charset='utf-8'>
        <link rel='stylesheet' type='text/css' href='styles.css'>
    </head>
    <body>
    	<div class="header-container">
            <h1 id="header"><a href="/">Tic Tac Toe Game</a></h1>
        </div>
        
		<%= yield %>
    </body>
</html>